/*Theme colors*/
.btn-logout, .sidebar-tab:hover, .sidebar-tab:focus, .sidebar-tab:active, #dropdown-custom, #dropdown-custom:visited, #dropdown-custom:hover, #dropdown-custom:focus, #dropdown-custom:active, #dropdown-menu, #dropdown-menu .dropdown-item {
  background-image: none;
  box-shadow: none;
  text-decoration: none;
  text-shadow: none; }

.btn-logout, .sidebar-tab, .sidebar-tab:visited, #dropdown-custom, #dropdown-custom:visited, #dropdown-menu, #dropdown-menu .dropdown-item {
  background-color: #123f7c;
  border: none;
  color: #c2c7d0;
  padding: 10px; }

.btn-logout:hover, .sidebar-tab:hover, .sidebar-tab:focus, .sidebar-tab:active, #dropdown-custom:hover, #dropdown-custom:focus, #dropdown-custom:active, #dropdown-menu > a .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: .25rem;
  color: #ffffff; }

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/* Header styles */
.navbar {
  background: #123f7c; }

/* Footer styles */
footer {
  background-color: #538bc6;
  color: #ffffff;
  text-align: left; }

footer h4 {
  font-family: "BebasNeuewebfont", sans-serif; }

.footer-top {
  padding: 40px 0px; }

.footer-bottom {
  background-color: #123f7c;
  height: 50px;
  line-height: 50px;
  text-align: center; }

/* Layout styles */
.content-position {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%; }

.error-position {
  margin-top: 4%;
  position: relative; }

.layout {
  flex: 1; }

.react-bootstrap-table-page-btns-ul {
  margin: 0 0 20px; }

/* Sidebar styles */
.bm-menu-wrap {
  border-top: 1px solid white;
  border-right: 1px solid white; }

.bm-menu {
  background: #123f7c;
  padding: 3.5em 0.5em 0;
  font-size: 1.15em; }

.bm-burger-button {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 25px;
  height: 20px;
  z-index: 1050 !important; }

span.bm-burger-bars {
  height: 10% !important; }

.bm-burger-bars {
  background: #c2c7d0; }

.bm-cross-button {
  height: 24px;
  width: 24px; }

.bm-cross {
  background: #c2c7d0; }

.glyphicon {
  padding-right: 0.5em; }

.btn-logout {
  margin-top: 2.5em;
  transition: unset !important; }

.btn-logout:hover {
  padding: 10px 165px 10px 10px;
  transition: unset !important; }

#dropdown-custom, #dropdown-custom:visited {
  transition: unset !important; }

#dropdown-custom:hover, #dropdown-custom:focus, #dropdown-custom:active {
  padding: 10px 148px 10px 10px;
  transition: unset !important; }

#dropdown-menu {
  position: relative !important;
  transform: none !important;
  will-change: auto !important; }

#dropdown-menu .dropdown-item {
  display: block; }
