$white: #ffffff;
$white-transparent: rgba(255,255,255,.1);
$chathams-blue: #123f7c;
$danube: #538bc6;
$ghost: #c2c7d0;

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Header styles */
.navbar {
  background: $chathams-blue;
}

/* Footer styles */
footer {
  background-color: $danube;
  color: $white;
  text-align: left;
}

footer h4 {
  font-family: "BebasNeuewebfont", sans-serif;
}

.footer-top {
  padding: 40px 0px;
}

.footer-bottom {
  background-color: $chathams-blue;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

/* Sidebar styles */
.bm-menu {
  background: $chathams-blue;
  padding: 4.5em 0.5em 0;
  font-size: 1.15em;
}

.bm-burger-button {
  position:fixed;
  top: 15px;
  left: 15px;
  width: 25px;
  height: 20px;
  z-index: 10000 !important;
}

span.bm-burger-bars {
  height: 10% !important;
}

.bm-burger-bars {
  background: $ghost;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.glyphicon {
  padding-right: 0.5em;
}

.btn-logout {
  margin-top: 2.5em;
  background-color: $chathams-blue !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  color: #c2c7d0 !important;
  padding: 10px;
  text-decoration : none;
}

.btn-logout:hover {
  background-image: none !important;
  text-shadow: none !important;
  color: #fff !important;
  padding: 10px 84px 10px 10px;
  text-decoration : none;
  background-color: rgba(255,255,255,.1) !important;
  border-radius: .25rem !important;
}

.link, .link:active, .link:visited, .link:focus {
  color: #c2c7d0 !important;
  padding: 10px;
  text-decoration : none;
  background: #123f7c !important;
}

.link:hover {
  color: $white !important;
  padding: 10px;
  text-decoration : none;
  background-color: $white-transparent !important;
  border-radius: .25rem !important;
}

.dropdown-menu {
  color: $ghost !important;
  position: relative;
  background-color: $chathams-blue;
  background-image: none;
  box-shadow: none;
  border: none;
}

.dropdown-menu > li > a {
  color: $ghost !important;
  line-height: 1.8;
}

.dropdown-menu > li > a:hover {
  color: $white;
  position: relative;
  background-color: $chathams-blue;
  background-image: none;
  box-shadow: none;
  border: none;
  line-height: 1.8;
}

.dropdown-item {
  color: $ghost !important;
  text-decoration : none;
  background: $chathams-blue !important;
}

.dropdown-item:hover {
  color: $white !important;
  text-decoration : none;
}

.dropdown-btn {
  background-color: $chathams-blue !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  color: $ghost !important;
  padding: 10px;
  text-decoration : none;
}

.dropdown-btn:hover,
.dropdown-btn:visited,
.dropdown-btn:focus,
.dropdown-btn:active,
.dropdown-btn:active:hover {
  background-image: none !important;
  text-shadow: none !important;
  color: $white !important;
  padding: 10px 70px 10px 10px;
  text-decoration : none;
  background-color: $white-transparent !important;
  border-radius: .25rem !important;
}

/* Layout styles */
.centered {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.error-position {
  margin-top: 4%;
  position: relative;
}

.item {
  width: 20%;
}

.layout {
  flex:1;
}

@media (max-width: 768px) {
  .item {
    width: 100%;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .item {
    width: 50%;
  }
}

.react-bootstrap-table-page-btns-ul {
  margin: 0px 0px 20px 0px;
}
