.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout {
  flex:1;
}

body {
background: #f4f6f9;
}


/* Header styles */
.navbar {
  background: #123f7c;
}

/* Footer styles */
footer {
  background-color: #538bc6;
  color: #fff;
  text-align: left;
}

footer h4 {
  font-family: "BebasNeuewebfont", sans-serif;
}

.footer-top {
  padding: 40px 0px;
}

.footer-bottom {
  background-color: #123f7c;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

/* Sidebar styles */
.bm-menu {
  background: #123f7c;
  padding: 2.5em 0.5em 0;
  font-size: 1.15em;
}

.bm-burger-button {
  position:fixed;
  top: 15px;
  left: 50px;
  width: 25px;
  height: 20px;
  z-index: 10000 !important;
}

span.bm-burger-bars {
  height: 10% !important;
}

.bm-burger-bars {
  background: #fff;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.glyphicon {
  padding-right: 0.5em;
}

.btn-logout {
  margin-top: 2.5em;
  color: #c2c7d0;
  background: #123f7c;
  text-shadow: none;
}

.btn-logout:hover {
  color: #fff;
  background-color: rgba(255,255,255,.1);
  text-shadow: none;
}

.link, .link:active, .link:visited, .link:focus {
  padding: 10px;
  text-decoration : none;
  color: #c2c7d0;
}

.link:hover {
  color: #fff;
  background-color: rgba(255,255,255,.1);
  text-decoration : none;
  border-radius: .25rem;
}

/* Layout styles */
.panel, .panel:hover, .panel:focus {
  display: inline-block;
  background-color: #ffa500;
  color: #fff;
  text-decoration : none;
  border-radius: 0px 0px 4px 4px;
  margin: 0px 20px;
  padding: 40px 10px 5px 10px;
}

.centered {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.group {
  display: flex;
  flex-flow: row wrap;
}

.item {
  width: 20%;
}

.wells {
  text-align: center;
  display: block;
  padding: 20px;
  margin: 6px;
  border-radius: 5px;
  color: #123f7c;
  text-decoration : none;
  background-color: #c2c7d0;
  font-weight: bold;
  font-size: 100%;
}

.wells:hover {
  color: #fff;
  background-color: #123f7c;;
  text-decoration : none;
}

@media (max-width: 768px) {
  .item {
    width: 100%;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .item {
    width: 50%;
  }
}

.react-bootstrap-table-page-btns-ul {
  margin: 0px 0px 20px 0px;
}

