/*Theme colors*/
$black: #000000;
$white: #ffffff;
$white-transparent: rgba(255,255,255,.1);
$light-grey: #d3d3d3;
$primary-blue: #0e3d7e;
$secondary-blue: #538bc6;
$complementary-orange: #ffa800;

%no-special-effects {
  background-image: none;
  box-shadow: none;
  text-decoration : none;
  text-shadow: none
}

%custom-button {
  background-color: $primary-blue;
  border: none;
  color: $light-grey;
  padding: 10px;
}

%custom-button-hover {
  background-color: $white-transparent;
  border-radius: .25rem;
  color: $white;
}

%info-box-details {
  font-size: 1.5rem;
  padding-left: 1rem;
  color: $black;
  display: block;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Header styles */
.navbar {
  background: $primary-blue;
}

/* Footer styles */
footer {
  background-color: $secondary-blue;
  color: $white;
  text-align: left;
}

footer h4 {
  font-family: "BebasNeuewebfont", sans-serif;
}

.footer-top {
  padding: 40px 0px;
}

.footer-bottom {
  background-color: $primary-blue;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

/* Layout styles */
.content-position {
  margin-top: 15%;
  margin-bottom: 5%;
}

.error-position {
  margin-top: 6%;
  position: absolute;
  width: -webkit-fill-available;
}

.layout {
  flex:1;
}

.react-bootstrap-table-page-btns-ul {
  margin: 0 0 20px;
}

/* Sidebar styles */
.bm-menu-wrap {
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.bm-menu {
  background: $primary-blue;
  padding: 3.5em 0.5em 0;
  font-size: 1.15em;
}
.bm-burger-button {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 25px;
  height: 20px;
  z-index: 1050 !important;
}

span.bm-burger-bars {
  height: 10% !important;
}

.bm-burger-bars {
  background: $light-grey;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: $light-grey;
}

.sidebar-icon {
  margin: 0 0.7rem 0.3rem 0;
}

.btn-logout {
  @extend %no-special-effects;
  @extend %custom-button;
  margin-top: 2.5em;
  transition: unset !important;
  font-size: 1.0em;
}

.btn-logout:hover {
  @extend %custom-button-hover;
  padding: 10px 130px 10px 10px;
  transition: unset !important;
}

.sidebar-tab, .sidebar-tab:visited, {
  @extend %custom-button;
}

.sidebar-tab:hover, .sidebar-tab:focus, .sidebar-tab:active {
  @extend %no-special-effects;
  @extend %custom-button-hover;
}

#dropdown-custom, #dropdown-custom:visited {
  @extend %no-special-effects;
  @extend %custom-button;
  transition: unset !important;
  font-size: 1.0em;
}

#dropdown-custom:hover, #dropdown-custom:focus, #dropdown-custom:active, {
  @extend %no-special-effects;
  @extend %custom-button-hover;
  padding: 10px 108px 10px 10px;
  transition: unset !important;
}

#dropdown-menu {
  @extend %no-special-effects;
  @extend %custom-button;
  position: relative !important;
  transform: none !important;
  will-change: auto !important;
}

#dropdown-menu .dropdown-item {
  @extend %no-special-effects;
  @extend %custom-button;
  display: block;
}

#dropdown-menu > a .dropdown-item:hover {
  @extend %custom-button-hover;
}

.info-box {
  width: 15rem;
  height: 6rem;
  border-radius: 0.1rem;
  box-shadow: 0 1px 1px 1px;
  color: $light-grey;
  margin: 1rem;
}

.info-box-icon {
  width: 6rem;
  height: 6rem;
  background-color: $complementary-orange;
  color: white;
  padding: 1rem;
  display: block;
  float: left;
}

.info-box-content {
  display: inline-block;
}

.info-box-text {
  @extend %info-box-details;
  font-weight: bold;
}

.info-box-title {
  @extend %info-box-details;
}
