/*Theme colors*/
$white: #ffffff;
$white-transparent: rgba(255,255,255,.1);
$chathams-blue: #123f7c;
$danube: #538bc6;
$ghost: #c2c7d0;

%no-special-effects {
  background-image: none;
  box-shadow: none;
  text-decoration : none;
  text-shadow: none
}

%custom-button {
  background-color: $chathams-blue;
  border: none;
  color: $ghost;
  padding: 10px;
}

%custom-button-hover {
  background-color: $white-transparent;
  border-radius: .25rem;
  color: $white;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Header styles */
.navbar {
  background: $chathams-blue;
}

/* Footer styles */
footer {
  background-color: $danube;
  color: $white;
  text-align: left;
}

footer h4 {
  font-family: "BebasNeuewebfont", sans-serif;
}

.footer-top {
  padding: 40px 0px;
}

.footer-bottom {
  background-color: $chathams-blue;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

/* Layout styles */
.content-position {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.error-position {
  margin-top: 4%;
  position: relative;
}

.layout {
  flex:1;
}

.react-bootstrap-table-page-btns-ul {
  margin: 0px 0px 20px 0px;
}

/* Sidebar styles */
.bm-menu-wrap {
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.bm-menu {
  background: $chathams-blue;
  padding: 3.5em 0.5em 0;
  font-size: 1.15em;
}

.bm-burger-button {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 25px;
  height: 20px;
  z-index: 1050 !important;
}

span.bm-burger-bars {
  height: 10% !important;
}

.bm-burger-bars {
  background: $ghost;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: $ghost;
}

.glyphicon {
  padding-right: 0.5em;
}

.btn-logout {
  @extend %no-special-effects;
  @extend %custom-button;
  margin-top: 2.5em;
}

.btn-logout:hover {
  @extend %custom-button-hover;
  padding: 10px 155px 10px 10px;
}

.sidebar-tab, .sidebar-tab:visited, {
  @extend %custom-button;
}

.sidebar-tab:hover, .sidebar-tab:focus, .sidebar-tab:active {
  @extend %no-special-effects;
  @extend %custom-button-hover;
}

#dropdown-btn, #dropdown-btn:visited {
  @extend %no-special-effects;
  @extend %custom-button;
}

#dropdown-btn:hover, #dropdown-btn:focus, #dropdown-btn:active, {
  @extend %no-special-effects;
  @extend %custom-button-hover;
  padding: 10px 140px 10px 10px;
}

#dropdown-menu {
  @extend %no-special-effects;
  @extend %custom-button;
  position: relative;
}

#dropdown-menu > li > a {
  @extend %no-special-effects;
  @extend %custom-button;
}

#dropdown-menu .dropdown-item {
  @extend %no-special-effects;
  @extend %custom-button;
  display: block;
}

#dropdown-menu .dropdown-item:hover {
  @extend %custom-button-hover;
}

