.App {
  padding-top: 50px;
  padding-bottom: 0;
}

.panel {
  text-align: center;
  margin-bottom: 20%;
  background-color: #ffa500;
  border: 1% solid; 
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
  font-size: 200%;
  font-weight: bold;
  color: #fff;
}

.height {
  min-height: 700px;
}

.selected {
  font-weight: bold;
  color: #5f8dc9;
}

.centered {
  text-align: center;
  margin-top: 5%;
}

.group {
  display: flex;
  flex-flow: row wrap;
}

.item {
  width: 25%;
}

thead{
  background-color: #337ab7;
  color: #fff;
}

#role-tab-tab-1 {
  background-color: #337ab7;
  color: #fff;
}

.wells {
  text-align: center;
  display: block;
  padding: 40px;
  margin: 12px;
  border-radius: 5px;
  color: #427bc5;
  background-color: #c7e9f5;
  font-weight: bold;
  font-size: 130%;
}

.wells:hover {
  background-color: #bfe6f3;
  text-decoration : none;
}

.link, .link:hover, .link:active, .link:visited, .link:focus {
  padding: 10px;
  text-decoration : none;
}

@media (max-width: 768px) {
  .item {
    width: 100%;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .item {
    width: 50%;
  }
}

.navbar {
  font-family: "BebasNeuewebfont", sans-serif;
  font-size: 22px;
  background-color: #123f7c;
}

footer {
  background-color: #538bc6;
  color: #fff;
  text-align: left;
}

footer h4 {
  font-family: "BebasNeuewebfont", sans-serif;
}

.footer_top {
  padding: 40px 0px;
}

.footer_bottom {
  background-color: #123f7c;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
